<h3>Descripción</h3>
<p>
    Seminario remoto con el objetivo de reunir a la comunidad de América Latina alrededor de la discusión sobre fundamentos de lenguajes de programación y métodos formales. Esperamos realizarlo mensualmente.
</p>
<p>
Organiza <a href="https://www.nicolasmonzon.com/">Nicolás Alberto Monzón</a> y <a href="https://tvallejos.cl">Tomás Vallejos Parada</a>.
</p>
<h3>Más información</h3>
<p>
Anunciamos nuevas charlas por la lista de difusión de <a href="https://sites.google.com/view/funlep">FunLeP</a> y por nuestro <a href="https://funlep.zulipchat.com/#narrow/channel/593019-Seminarios-FormAL"> canal </a> dedicado de Zulip.
Mantenemos un calendario digital al que puede subscribirse en el siguiente <a href="https://calendar.google.com/calendar/u/0?cid=NDY3NWM1ZWU5ODQyMGU0N2QxZDQyMmNlOTFkNzQwNDRjMjRlZDViMjZjMzg5ZWZiYzExODE5NTFmNGI4MTRhYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t">link</a>.
</p>